<!DOCTYPE html>
<html>
{% include head.html %}

<body class="{% if page.url contains 'page2' %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} nav-closed">

    {% include navigation.html %}

    <div class="site-wrapper">

        {{ content }}

        {% include footer.html %}

    </div>
    <!-- [[! Ghost outputs important scripts and data with this tag ]] -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- [[! The main JavaScript file for Casper ]] -->
    <script type="text/javascript" src="{{ site.url }}/assets/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/index.js"></script>

</body>
</html>
